@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand";
}

body{
    color: #333;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    margin: 0 15px;
}

.form-box{
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: #ffff;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.form-box.active{
    display: block;
}

h2{
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}

input, select{
    width: 100%;
    border: none;
    border-radius: 20px;
    margin-bottom: 40px;
    outline: none;
    color: #333;
    background:#eee;
    padding: 15px;
}

button{
    width: 100%;
    padding: 15px;
    background: #7494ec;
    border-radius: 20px;
    border: none;
    color: #ffff;
    font-weight: 500;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0,5s;
    font-size: 16px;
}

button:hover{
    background: #4677ff;
}

p{
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
}

p a{
    color: #7494ec;
    text-decoration: none;
}

p a:hover{
    color: #4677ff;
}

.error-message{
    padding: 12px;
    background: #f8d7da;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    color: #a42834;
    margin-bottom: 20px;   
}

h1 {
    font-size: 50px;
}

span {
    color: #7494ec;
}

.box p {
    font-size: 32px;
}

.box button {
    display: block;
    width: 300px;
    margin: 0 auto;
}